{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Dossier de candidatures{% endblock %}

{% block content %}    
        <a class="btn btn-success btn-sm" href="{{ path('candidature_new') }}">
            Nouvelle candidature
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger btn-sm" href="{{ url('fos_user_security_logout') }}">
            Deconnexion
        </a>                    
        <br/><br/>            
        <h4>Vous êtes candidat aux filières suivantes :</h4>        
        <br/>        
        <ul>
        {% for entity in entities %}
            <li style="margin-bottom: 15px;">
                <b class="label label-info" style="font-size:12px">{{ entity.filiere }}</b>  ( <a href="{{ path('candidature_show', { 'id': entity.id }) }}">Voir les détails de cette candidature</a> )
            </li>            
        {% endfor %}
        </ul>    
        <br/>        
{% endblock %}
