{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Dossier de candidatures{% endblock %}

{% block content %}        
        <br/>
        <h4>Vous êtes candidat aux filières suivantes :</h4>        
        <br/>        
        <ul>
        {% for filiere in filieres %}
            <li style="margin-bottom: 15px;">
                <b class="label label-info" style="font-size:12px">{{ filiere }}</b>
            </li>            
        {% endfor %}
        </ul>    
        <br/><hr/>        
        <a class="btn btn-success btn-sm" href="{{ path('candidature_show', { 'id': candidature.id }) }}">
            Modifier votre candidature
        </a>
        <a class="btn btn-danger btn-sm" href="{{ url('fos_user_security_logout') }}">
            Deconnexion
        </a>        
{% endblock %}
