{% extends 'BseInscriptionBundle::layout.html.twig' %}

{% block subTitle %}Dossier de candidatures{% endblock %}

{% block content %}    
        <br/><br/>
        <h4>Vous êtes candidat aux filières suivantes :</h4>
        <br/>
        <ul>
        {% for entity in entities %}
            <li>
                <b>{{ entity.filiere }}</b>  ( <a href="{{ path('inscription_show', { 'id': entity.id }) }}">voir</a> )
            </li>            
        {% endfor %}
        </ul>    
        <br/>
        <a href="{{ path('inscription_new') }}">
            Nouvelle candidature
        </a>                    
{% endblock %}
